.you-donation-title{
 font-weight: 500;
 font-size: 48px;
 line-height: 150%;
 color: #000;
}

.donation-day{
 font-weight: 400;
 font-size: 32px;
 line-height: 150%;
 color: #898989;
}

.donation-input{
 border-radius: 20px;
 padding: 8px 32px;
 width: 100%;
 height: auto;
 box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
 background: rgba(249, 142, 44, 0.25);
 font-weight: 500;
 font-size: 36px;
 line-height: 133%;
 color: #000;
}

.title-right-content{
  font-weight: 500;
  font-size: 48px;
  line-height: 150%;
  color: #f98e2c;
}

.opis-right-content{
  font-weight: 500;
  font-size: 48px;
  line-height: 150%;
  color: #000 ;
}

.left-you-donation-content{
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 20px;
  padding: 32px;
  width: 100%;
  max-width: 830px;
  height: auto;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
}

.all-you-donation{
  display: flex ; 
  gap: 32px;
  padding-top: 80px;
  width: 100%;
}

.right-you-donation-content{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 0px 32px;
  width: 100%;
  max-width: 798px;
  height: auto;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  justify-content: center;
}

.show-more-donation{
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  text-align: end;
  color: #f98e2c;
  text-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

@media (max-width:1358px){
  .opis-right-content{
    font-size: 40px;
  }
}

@media (max-width:1202px){
  .opis-right-content{
    font-size: 34px;
  }
  .you-donation-title{
    font-size: 40px;
  }
}

@media (max-width:1000px){
  .title-right-content{
    font-size: 40px;
  }
}

@media (max-width:870px){
  .title-right-content{
    font-size: 34px;
  }
  .opis-right-content{
    font-size: 30px;
  }
  .you-donation-title{
    font-size: 34px;
  }
}

@media (max-width:792px){
  .title-right-content{
    font-size: 30px;
  }
  .opis-right-content{
    font-size: 24px;
  }
  .you-donation-title{
    font-size: 30px;
  }
}

@media (max-width:680px){
  .you-donation-title{
    font-size: 24px;
  }
  .opis-right-content{
    font-size: 20px;
  }
  .title-right-content{
    font-size: 24px;
  }
}

@media (max-width:610px){
  .show-more-donation{
    font-size: 24px;
  }
}

@media (max-width:570px){
  .you-donation-title{
    font-size: 20px;
  }
  .opis-right-content{
    font-size: 16px;
  }
  .title-right-content{
    font-size: 20px;
  }
  .donation-input{
    font-size: 24px;
  }
  .donation-day{
    font-size: 16px;
  }
}

@media (max-width:510px){
  .show-more-donation{
    font-size: 18px;
  }
}

@media (max-width:430px){
  .title-right-content{
    font-size: 16px;
  }
  .opis-right-content{
    font-size: 12px;
  }
}