
.left-content{
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.background-img{
  z-index: -1;
  position: absolute;
  background: linear-gradient(180deg, #FFF 0%, #FAE6D4 45.5%, #F8A340 100%);
  top: 0;
  left: -130px;
  width: 100%;
  height: 100%;
  border-radius: 0 0 70px 0;
  
}

.title-content{
  font-family: "Kurale", serif;
  font-size: 96px;
}

.img-home{
  width: 500px;
  height: 500px;
  border-radius: 20px;
}

.main{
  position: relative;
  display: flex;
  border-radius: 0px 0px 70px 0px;
  padding: 32px 0 100px 0;
}

.description-content{
    font-size: 32px;
    font-family: "Kurale", serif;
    font-weight: 400;
    font-style: normal;
}


.home-button{
  display: flex;
  padding: 9px 136px 9px 124px;
  align-items: center;
  border-radius: 20px;
  background: #F98E2C;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 32px;
  line-height: 48px;
  color: #FFF;
}

.border-block{
  background: #000;
  width: 1px;
  height: 175px;
}

.swipe-slide{
  cursor: pointer;
}

.save-kitten{
  display: flex;
  justify-content: space-between;
  gap: 22px;
}

.swipe-slide{
  display: flex;
  gap: 22px;
}


.find-master-title{
  color: #000;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 72px; 
}

.item{
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-1{
background-color: green;
}
.item-2{
  background-color: black;
}
.item-3{
  background-color: blue;
}
.item-4{
  background-color: red;
}



.home-page{
  display: flex;
  flex-direction: column;
  gap: 80px;
}





* {
	padding: 0px;
	margin: 0px;
	border: none;
  box-sizing: border-box;
}


@media (max-width:1330px){
  .img-home{
    width: 400px;
    height: 400px;
  }
}

@media (max-width:1330px){
  .title-content{
    font-size: 80px;
  }
}

@media (max-width:1230px){
  .live-text{
    font-size: 25px;
  }
  .live-number{
    font-size: 40px;
  }
}


@media (max-width:810px){
   .img-home {
    width: 350px;
    height: 350px;
  }
}

@media (max-width:750px){
  .title-content {
    font-size: 40px;
  }
  .img-home {
    width: 300px;
    height: 300px;
  }
  .home-button{
    padding: 0px 60px 0px 60px;;
    font-size: 20px;
  }
   .live-number {
    font-size: 30px;
  }
  .live-text {
    font-size: 20px;
  }
}

@media (max-width:630px){
  .live-number {
    font-size: 20px;
  }
  .live-text {
    font-size: 15px;
  }
}

@media (max-width:600px){
  .img-home{
    width: 220px;
    height: 220px;
  }
}

@media (max-width:540px){
  .home-button{
    padding: 0px 40px 0px 40px;
    font-size: 18px;
  }
    .title-content {
    font-size: 30px;
  }

  .description-content {
  font-size: 20px;
}
}

@media (max-width:480px){
  .home-button{
    padding: 0px 15px 0px 15px;
    font-size: 15px;
  }
  .count-block{
    height: 180px;
  }
  .live-text {
    font-size: 12px;
  }
}

@media (max-width:410px){
.home-button {
    padding: 0px 10px 0px 10px;
    font-size: 14px;
  }
    .img-home {
    width: 200px;
    height: 200px;
  }
    .title-content {
    font-size: 25px;
  }
  .background-img{
    left: -70px;
    top: -60px;
  }
}