

@media (max-width:1340px){
  .live-text,
  .live-number{
    font-size: 30px;
  }
  
}

@media (max-width:1180px){
  .live-text,
  .live-number{
    font-size: 25px;
  }
  
}

@media (max-width:1120px){
  .live-text{
    font-size: 20px;
  }
  
}