.header {
  display: flex;
  align-items: center;
  gap: 69px;
  padding: 30px 130px 0px 130px;  
}

.nav-menu {
  display: flex;
  gap: 20px;
  flex: 1;
  justify-content: space-between;
}

.nav-menu a {
  text-decoration: none;
  font-size: 20px;
}

.login-button {
  background-color: #F98E2C;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 35px;
  border-radius: 15px;
  color:#FFFFFF;
} 

.logo{
  cursor: pointer;
}
.link-item{
  color: black;
  transition: 0.3s linear;
}

.link-item:hover{
  color: #F98E2C;
  transition: 0.3s linear;
}

.isActive{
  color: #F98E2C;
}


.modal{
  background: white;
  border-radius: 10px;
  max-width: 1130px;
  width: 100%;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 72px;
  justify-content: center;
  gap: 42px;
  z-index: 10000;
}


.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.registration-input{
  display: flex;
  width: 986px;
  padding: 12px 32px;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  background: #E4E4E4;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);  
  font-size: 32px;
  height: 72px;
}

.asdasd{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.registration-title{
  color: #F98E2C;
  font-size: 48px;
  font-weight: 500;
  line-height: 72px; 
}


.registration{
  color: #000;
font-size: 48px;
font-weight: 500;
line-height: 72px; 
}


.registration-button{
  display: flex;
  padding: 8px 32px;
  gap: 10px;
  border-radius: 20px;
  background: #F98E2C;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px; 
  cursor: pointer;
}


.all-modal-registration{
  display: flex;
  flex-direction: column;
  gap: 42px;
}


input::placeholder{
  color: #898989;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px; 
}


.input-block-registration{
  display: flex;
  flex-direction: column;
  gap: 32px;
}