.footer-title{
  color: #000;
  font-size: 48px;
  font-weight: 800;
  line-height: 72px;
}

.footer{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 32px;
  border-top: 1px solid;
}

.vk-link{
  color: #636363;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; 
  text-decoration: none;
}

.footer-link{
    display: flex;
    flex-direction: column;
    gap: 32px;
}


 img {
	vertical-align: top;
  padding-right:  8px;
}

@media (max-width:932px){
 .vk-link{
  font-size: 26px;
 }
}

@media (max-width:776px){
 .vk-link{
  font-size: 20px;
 }
}

@media (max-width:628px){
  .vk-link-logo{
    width: 50px;
  }
  .footer-title {
  font-size: 40px;
  }
  .vk-link{
  font-size: 16px;
 }
}

@media (max-width:510px){
  .vk-link-logo{
    width: 40px;
  }
  .vk-link{
  font-size: 12px;
 }
}