

.slider-header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 20px;
}

.carousel-text {
  color: #000;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  line-height: 72px; 
}

.slider-arrows {
  display: flex;
  gap: 32px;
}

.custom-prev-arrow,
.custom-next-arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pet{
  border-radius: 20px;
  width: 100%;
  height: 526px;
  object-fit: cover;
}

.team-name-title{
  color: #000;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px; 
}

.positoin-worker-title{
  color: #000;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px; 
}

@media (max-width:1356px){
  .positoin-worker-title{
    font-size: 26px;
  }
}

@media (max-width:1112px){
  .positoin-worker-title{
    font-size: 22px;
  }
  .team-name-title{
  font-size: 26px;
}
}

@media (max-width:1012px){
  .pet{
    height: 300px;
    width: 300px;
  }
}

@media (max-width:908px){
  .pet{
    height: 250px;
    width: 250px;
  }
}


@media (max-width:854px){
 .positoin-worker-title{
    font-size: 18px;
  }
  .team-name-title{
  font-size: 20px;
}
}

@media (max-width:730px){
  .pet{
    height: 200px;
    width: 200px;
  }
  .carousel-text {
  font-size: 38px;
  }

  .arrow-right-slider,
  .arrow-left-slider{
    width: 55px;
  }
   .positoin-worker-title{
    font-size: 12px;
  } 
}

@media (max-width:600px){
  .pet{
    height: 150px;
    width: 150px;
  }
  .positoin-worker-title{
    line-height: 15px;
  } 
}

@media (max-width:510px){
   .carousel-text {
  font-size: 28px;
  }

  .arrow-right-slider,
  .arrow-left-slider{
    width: 45px;
  } 
}

@media (max-width:438px){
  .pet{
    height: 130px;
    width: 130px;
  }
}